.search_container {
  height: 40%;
  background: var(--violet);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  gap: 60px;
}

.search_container:focus-within {
  height: 60%;
}

.box_container {
  display: flex;
  overflow-x: scroll;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 0;
}

@media screen and (max-width: 1000px) {
  .search_container {
    height: 40%;
  }
}

@media screen and (max-width: 600px) {
  .search_container {
    height: 30%;
  }
}
