.tab_container {
  display: flex;
  gap: 30px;
}

.tab {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  background: transparent;
  border: none;
  border-bottom: 5px solid transparent;
  padding-bottom: 10px;
  cursor: pointer;
}

.selected {
  color: white;
  border-bottom: 5px solid white;
}

@media screen and (max-width: 400px) {
  .tab_container {
    gap: 15px;
  }
  .tab {
    font-size: 14px;
  }
}
